= form_for @task, :html => { :multipart => true } do |f|
  -if @task.errors.any?
    #error_explanation
      %h2= "#{pluralize(@task.errors.count, "error")} prohibited this task from being saved:"
      %ul
        - @task.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :deadline
    = f.datetime_select :deadline
  .field
    = f.label :complete
    = f.check_box :complete
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :attachment
    = f.file_field :attachment
  .actions
    = f.submit 'Save'
