%h1
  All tasks
- if params[:sort]
  %br
  = link_to "Clear sorting", tasks_path
%p#notice= notice

%table
  %tr
    %th
      = link_to_sorted "Title", :title
    %th
      = link_to_sorted "Deadline", :deadline
    %th
      = link_to_sorted "Complete", :complete
    %th
    %th
    %th

  - @tasks.each do |task|
    %tr
      %td
        = task.title.truncate(50)
      %td
        = task.deadline.to_s(:date_time_ordinal_short)
      %td
        = task_status(task.complete)
      %td
        = link_to 'Show', task
      %td
        = link_to 'Edit', edit_task_path(task)
      %td
        = link_to 'Destroy', task, :confirm => 'Are you sure?', :method => :delete

= will_paginate @tasks
